/**
 * File name: layout/_global.scss
 *
 */

.l-section {
  position: relative;
  padding: 75px 15px;

  h2 {
    font-weight: 900;
  }
}

.l-wrapper {
  max-width: 1200px;
  margin: auto;
  position: relative;
}


.is-clear {
  filter: none;
}

.is-blur {
  filter: blur(3px);
}



.l-mobile {
	display: block;
	@include breakpoint (tablet) {
		display: none;
	}
}


.l-laptop {
	display: none;
	@include breakpoint (laptop) {
		display: block;
	}
}

.l-desktop {
	display: none;
	@include breakpoint (desktop) {
		display: block;
	}
}


.l-mobile-inline {
	display: inline;
	@include breakpoint (laptop) {
		display: none;
	}
}

.l-tablet-inline {
	display: none;
	@include breakpoint (tablet) {
		display: inline;
	}
}

.l-laptop-inline {
	display: none;
	@include breakpoint (laptop) {
		display: inline;
	}
}

.l-desktop-inline {
	display: none;
	@include breakpoint (desktop) {
		display: inline;
	}
}




.is-visible {
	display: default !important;
}

.is-hidden {
	display: none !important;
}




.is-activated {
	display: default !important;
}

.is-deactivated {
	visibility: hidden !important;
}

.has-value {
	background-color: yellow;
}


.m-404 {
  text-align: center;
  padding: 200px 0 200px;

  h1 {
    margin-bottom: 15px;
  }
}
