
.m-faq {
  padding: 150px 15px 50px;

  *:focus {
    outline: none;
  }
}


/* --------------------------------

Primary style

-------------------------------- */

body::after {
  /* overlay layer visible on small devices when the right panel slides in */
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 83, 89, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
body.cd-overlay::after {
  content: '';
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 768px) {
  body::after {
    display: none;
  }
}

.faq {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
  }
}

/* --------------------------------

Main components

-------------------------------- */

.faq {
  // width: 90%;
  width: 100%;
  // max-width: 1024px;
  max-width: 1200px;
  // margin: 2em auto;
  margin: 0 auto;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.faq::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  .faq {
    position: relative;
    // margin: 4em auto;
    margin: 0 auto;
    box-shadow: none;
  }
}

.categories a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 60px;
  line-height: 60px;
  padding: 0 28px 0 16px;
  background-color: $accentBlue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  white-space: nowrap;
  border-bottom: 1px solid lighten($accentBlue, 5%);
  // border-top: 1px solid lighten($accentBlue, 5%);
  text-overflow: ellipsis;
  text-decoration: none;
}

.categories a::before, .categories a::after {
  /* plus icon on the right */
  content: '';
  position: absolute;
  top: 50%;
  right: 16px;
  display: inline-block;
  height: 1px;
  width: 10px;
  background-color: lighten($accentBlue, 20%);
}
.categories a::after {
  content: '';
  transform: rotate(90deg);
}
.categories li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 768px) {
  .categories {
    width: 20%;
    float: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  }
  .categories a {
    font-size: 0.8em;
    // font-size: 0.8125rem;
    // font-weight: 600;
    padding-left: 24px;
    padding: 0 24px;
    height: 50px;
    line-height: 50px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s;
  }
  .categories a::before, .categories a::after {
    content: '';
    display: none;
  }
  .no-touch .categories a:hover {
    background: lighten($accentBlue, 5%);
  }
  .no-js .categories {
    width: 100%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1024px) {
  .categories {
    position: absolute;
    top: 38px;
    left: 0;
    width: 200px;
    z-index: 31;
  }
  .categories a::before {
    /* decorative rectangle on the left visible for the selected item */
    content: '';
    display: block;
    top: 0;
    right: auto;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $accentOrange;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .categories .selected {
    background: darken($accentBlue, 5%) !important;
  }
  .categories .selected::before {
    content: '';
    opacity: 1;
  }
  .categories.is-fixed {
    /* top and left value assigned in jQuery */
    position: fixed;
  }
  .no-js .categories {
    position: relative;
  }
}

.faq-items {
  position: fixed;
  height: 100%;
  width: 95%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 0 5% 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 30;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0) translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}
.faq-items.slide-in {
  transform: translateZ(0) translateX(0%);
}
.no-js .faq-items {
  position: static;
  height: auto;
  width: 100%;
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  .faq-items {
    position: static;
    height: auto;
    width: 78%;
    float: right;
    overflow: visible;
    transform: translateZ(0) translateX(0);
    padding: 0;
    background: transparent;
    // margin-top: -50px;
  }
}
@media only screen and (min-width: 1024px) {
  .faq-items {
    float: none;
    width: 100%;
    padding-left: 220px;
  }
  .no-js .faq-items {
    padding-left: 0;
  }
}

.cd-close-panel {
  position: fixed;
  top: 5px;
  right: -100%;
  display: block;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 31;
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: right 0.4s;
  -moz-transition: right 0.4s;
  transition: right 0.4s;
}
.cd-close-panel::before, .cd-close-panel::after {
  /* close icon in CSS */
  content: '';
  position: absolute;
  top: 16px;
  left: 12px;
  display: inline-block;
  height: 3px;
  width: 18px;
  background: $accentOrange;
}
.cd-close-panel::before {
  content: '';
  transform: rotate(45deg);
}
.cd-close-panel::after {
  content: '';
  transform: rotate(-45deg);
}
.cd-close-panel.move-left {
  right: 2%;
}
@media only screen and (min-width: 768px) {
  .cd-close-panel {
    display: none;
  }
}

.faq-group {
  /* hide group not selected */
  display: none;
}
.faq-group.selected {
  display: block;
}
.faq-group .faq-title {
  background: transparent;
  box-shadow: none;
  margin: 1em 0;

}
.no-touch .faq-group .faq-title:hover {
  box-shadow: none;
}
.faq-group .faq-title h2 {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  color: $accentOrange;
}
.no-js .faq-group {
  display: block;
}
@media only screen and (min-width: 768px) {
  .faq-group {
    /* all groups visible */
    display: block;
  }
  .faq-group > li {
    background: #ffffff;
    margin-bottom: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }
  .no-touch .faq-group > li:hover {
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
  }
  .faq-group .faq-title {
    margin: 2.6em 0 1em;
  }
  .faq-group:first-child .faq-title {
    margin-top: 0;
  }
}

.trigger {
  position: relative;
  display: block;
  margin: 1.6em 0 .4em;
  line-height: 1.2;

  // text-decoration: none;
  //
  // &:hover {
  //   text-decoration: underline;
  // }
}
@media only screen and (min-width: 768px) {
  .trigger {
    font-size: 1.2em;
    // font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
  }
  .trigger::before, .trigger::after {
    /* arrow icon on the right */
    content: '';
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: $accentOrange;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .trigger::before {
    content: '';
    transform: rotate(45deg);
    right: 32px;
  }
  .trigger::after {
    content: '';
    transform: rotate(-45deg);
  }
  .content-visible .trigger::before {
    content: '';
    transform: rotate(-45deg);
  }
  .content-visible .trigger::after {
    content: '';
    transform: rotate(45deg);
  }
}

.faq-content {
  display: none;

  .faq-img-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  [class*='col-'] {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  ul {
    padding-left: 30px;
    list-style-type: disc;
    // max-width: 600px;

    li {
      margin-bottom: 15px;
    }
  }
}
.faq-content p {
  // font-size: 14px;
  // font-size: 0.875rem;
  // line-height: 1.4;
  color: $accentBlue;
  font-size: 0.8em;
  margin-bottom: 15px
}
@media only screen and (min-width: 768px) {
  .faq-content {
    display: none;
    padding: 0px 30px 30px;
  }
  .faq-content p {
    line-height: 1.6;
    font-size: 1em;
  }
  .no-js .faq-content {
    display: block;
  }
}
