
.m-footer {
  background-color: $accentBlue;
  color: white;
  padding-bottom: 50px;
  border-top: 11px solid $accentOrange;
  @include breakpoint (laptop) {
    padding-bottom: 10px;
  }
}

.m-googlemap-container {
  width: 100%;
  max-width: 550px;
  height: 400px;
  position: relative;
  padding: 0;
  margin: 0 auto 75px;

  @include breakpoint (tablet) {
    margin: 0;
    padding: 0;
  }
}

.m-map {
  widows: 100%;
  height: 100%;
  color: $accentBlue !important;
}

.l-gmap-row {
  width: 180px;
}

[class*='m-gmap-'] {
  float: left;
  margin: 0;
}

.m-gmap-logo {
  height: 70px;
  text-align: right;
  padding-right: 10px;
}

.m-gmap-name {
  font-weight: bold;
  margin-top: 2px;
}

.m-gmap-address {
  margin: 5px 0;
}

.m-gmap-direction {
  // margin: 5px 0;
}


.m-footer-module {
  max-width: 300px;
  margin-bottom: 70px;

  @include breakpoint (tablet) {
    font-size: 0.8em;
    margin: 0;
  }
}

.m-subtitle {
  margin-top: -1.8em;
  margin-bottom: 1.8em;
  opacity: 0.6;
}


.m-micro-address {
  // font-family: Helvetica, Arial, sans-serif;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  i {
    color: $accentOrange;

    &.fa-facebook-square {
      color: #fff;
    }
  }


}

.m-address {
}

[class*='m-open-'] {
  float: left;
  width: 50%;
  // outline: 1px solid red;
}

.m-open-day {
  width: 120px;
  font-weight: bold;
}

.m-open-hours {
  width: 150px;
}


.m-copyright {
	text-align: center;
  color: lighten($accentBlue,30%);
  margin: 50px 0 0 0;
  line-height: 18px;

  @include breakpoint (laptop) {
  	text-align: left;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
