


.m-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;

  @include breakpoint (laptop) {
    background-attachment: fixed;
  }
}


.hero-01 {
  background-image: url(../img/hero/hero_01_portrait_small_@2x_1k.jpg);
  @include breakpoint (phablet) { background-image: url(../img/hero/hero_01_portrait_medium_@2x_2k.jpg); }
  @include breakpoint (tablet) { background-image: url(../img/hero/hero_01_land_medium_@2x_2k.jpg); }
  @include breakpoint (laptop) { background-image: url(../img/hero/hero_01_land_large_@2x_3k.jpg); }
  @include breakpoint (desktop) { background-image: url(../img/hero/hero_01_land_xlarge_@2x_5k.jpg); }
}
.hero-02 {
  background-image: url(../img/hero/hero_02_portrait_small_@2x_1k.jpg);
  @include breakpoint (phablet) { background-image: url(../img/hero/hero_02_portrait_medium_@2x_2k.jpg); }
  @include breakpoint (tablet) { background-image: url(../img/hero/hero_02_land_medium_@2x_2k.jpg); }
  @include breakpoint (laptop) { background-image: url(../img/hero/hero_02_land_large_@2x_3k.jpg); }
  @include breakpoint (desktop) { background-image: url(../img/hero/hero_02_land_xlarge_@2x_5k.jpg); }
}
.hero-03 {
  background-image: url(../img/hero/hero_03_portrait_small_@2x_1k.jpg);
  @include breakpoint (phablet) { background-image: url(../img/hero/hero_03_portrait_medium_@2x_2k.jpg); }
  @include breakpoint (tablet) { background-image: url(../img/hero/hero_03_land_medium_@2x_2k.jpg); }
  @include breakpoint (laptop) { background-image: url(../img/hero/hero_03_land_large_@2x_3k.jpg); }
  @include breakpoint (desktop) { background-image: url(../img/hero/hero_03_land_xlarge_@2x_5k.jpg); }
}
.hero-04 {
  background-image: url(../img/hero/hero_04_portrait_small_@2x_1k.jpg);
  @include breakpoint (phablet) { background-image: url(../img/hero/hero_04_portrait_medium_@2x_2k.jpg); }
  @include breakpoint (tablet) { background-image: url(../img/hero/hero_04_land_medium_@2x_2k.jpg); }
  @include breakpoint (laptop) { background-image: url(../img/hero/hero_04_land_large_@2x_3k.jpg); }
  @include breakpoint (desktop) { background-image: url(../img/hero/hero_04_land_xlarge_@2x_5k.jpg); }
}

.white-overlay {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: transparentize(#fff, 0.3);
}

.m-carousel {
  padding-top: 107px;

  .m-carousel-container {
    position: relative;
    padding: 25px 0;
    // border: 11px solid red;

    @include breakpoint (laptop) {
      margin-top: 25px;
      padding: 25px 0 25px;
    }
  }
}

$carouselHeightMobile: 600px;
$carouselHeightPhablet: 600px;
.carousel {
  background: none;
  height: $carouselHeightMobile;

  @include breakpoint (phablet) {
    height: $carouselHeightPhablet;
  }

  @include breakpoint (laptop) {
    height: 100%;
  }
}

.carousel-cell {
  width: 95%;
  margin-right: 10px;
  background: none;
  counter-increment: gallery-cell;
  padding: 5px;
  height: $carouselHeightMobile;
  text-align: center;

  @include breakpoint (phablet) {
    height: $carouselHeightPhablet;
  }

  @include breakpoint (laptop) {
    width: 100%;
    height: 100%;
    padding: 5px 120px;
    background: rgba(255,255,255,0);
  }
}

.bg-white {
  background-color: rgba(255,255,255,0.90);
}

/* cell number */
// .carousel-cell:before {
//   display: block;
//   text-align: center;
//   content: counter(gallery-cell);
//   line-height: 200px;
//   font-size: 80px;
//   color: white;
// }


/* move page dots into carousel */
// ol.flickity-page-dots { bottom: 25px; }
/* position dots up a bit */
ol.flickity-page-dots {
  height: 25px;
  top: -35px;
  text-align: right;
  padding-right: 15px;

  @include breakpoint (laptop) {
    height: auto;
    top: inherit;
    bottom: -40px;
    text-align: center;
    padding-right: 0px;
  }
}

/* dots are lines */
ol.flickity-page-dots .dot {
  height: 10px;
  width: 50px;
  margin: 0;
  border-radius: 0;
  background: $accentBlue;

  &:hover {
    background: $accentOrange;
    opacity: 0.5;
  }

  &.is-selected {
    background: $accentBlue;
    &:hover {
      background: $accentOrange;
      opacity: 1;
    }
  }

  @include breakpoint (laptop) {
    width: 100px;
  }
}

button.flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
    transition: transform 150ms ease;

    &:hover {
      transform: scale(1.1);
    }
}

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}

.flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: $accentOrange;
}
.flickity-prev-next-button.no-svg {
  color: $accentOrange;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}





.m-slider-container {
  text-align: left;
  height: 100%;
  // border: 11px dashed transparentize($accentOrange, 0.9);

  &.m-video {
    padding-top: 15px;

    @include breakpoint (laptop) {
      padding-top: 0px;
    }

    h3 {
      text-align: center;
      margin-bottom: 0.2em;
    }
  }
}

.m-vimeo {
  width: 100%;
  margin: auto;
  padding-top: 15px;
}

.m-slider-slide {
  // outline: 1px solid red;
  width: 100%;
  height: 100%;
  position: relative;

  @include breakpoint (laptop) {
    // margin-left: -300px;
    // transform: scale(1.5) rotate(-25deg) translate(0px, 80px);
  }

  h1, h3 {
    text-align: center;
    margin: 0;

    @include breakpoint (laptop) {
      font-size: 4em;
    }
  }

}



.slide-greetings {
  position: relative;

  h1 {
    text-align: left;
    line-height: 1.3em;
    margin-top: 170px;
    overflow: hidden;
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: -0.04em;

    @include breakpoint (phablet) {
      font-size: 3em;
    }

    @include breakpoint (tablet) {
      margin-top: 0;
      font-size: 6em;
      position: absolute;
      // width: 100%;
      height: 485px;
      left: 0; right: 0; bottom: 0;
      // outline: 1px solid red;
    }

    .m-title {
      width: 100%;
      float: left;

      span {
        display: block;
        width: 253px;
        background: transparentize(#fff, 0.2);
        padding: 0 0 0 15px;
        margin-bottom: 10px;
        transition: width 1500ms ease-out, color 300ms ease;
        overflow: hidden;

        @include breakpoint (phablet) {
          padding: 0 0 0 15px;
          width: 303px;
        }

        @include breakpoint (tablet) {
          padding: 0 0 0 30px;
          width: 598px;
          margin-bottom: 15px;
        }
      }

      &:first-child span {
        width: 87px;

        @include breakpoint (phablet) {
          width: 99px;
        }

        @include breakpoint (tablet) {
          width: 198px;
        }
      }

      &:last-child span {
        width: 290px;

        @include breakpoint (phablet) {
          width: 350px;
        }

        @include breakpoint (tablet) {
          width: 693px;
        }
      }

      @include breakpoint (laptop) {
        &:hover {
          .js-hero-bg {
            width: 100%;
            transition: width 500ms ease-in, color 300ms ease;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            color: transparentize(#fff, 0.2);

            &.hero-01 {
              background-image: url(../img/hero/hero_01_portrait_small_@2x_1k.jpg);
              @include breakpoint (phablet) { background-image: url(../img/hero/hero_01_portrait_medium_@2x_2k.jpg); }
              @include breakpoint (tablet) { background-image: url(../img/hero/hero_01_land_medium_@2x_2k.jpg); }
              @include breakpoint (laptop) { background-image: url(../img/hero/hero_01_land_large_@2x_3k.jpg); }
              @include breakpoint (desktop) { background-image: url(../img/hero/hero_01_land_xlarge_@2x_5k.jpg); }
            }
            &.hero-02 {
              background-image: url(../img/hero/hero_02_portrait_small_@2x_1k.jpg);
              @include breakpoint (phablet) { background-image: url(../img/hero/hero_02_portrait_medium_@2x_2k.jpg); }
              @include breakpoint (tablet) { background-image: url(../img/hero/hero_02_land_medium_@2x_2k.jpg); }
              @include breakpoint (laptop) { background-image: url(../img/hero/hero_02_land_large_@2x_3k.jpg); }
              @include breakpoint (desktop) { background-image: url(../img/hero/hero_02_land_xlarge_@2x_5k.jpg); }
            }
            &.hero-03 {
              background-image: url(../img/hero/hero_03_portrait_small_@2x_1k.jpg);
              @include breakpoint (phablet) { background-image: url(../img/hero/hero_03_portrait_medium_@2x_2k.jpg); }
              @include breakpoint (tablet) { background-image: url(../img/hero/hero_03_land_medium_@2x_2k.jpg); }
              @include breakpoint (laptop) { background-image: url(../img/hero/hero_03_land_large_@2x_3k.jpg); }
              @include breakpoint (desktop) { background-image: url(../img/hero/hero_03_land_xlarge_@2x_5k.jpg); }
            }
            &.hero-04 {
              background-image: url(../img/hero/hero_04_portrait_small_@2x_1k.jpg);
              @include breakpoint (phablet) { background-image: url(../img/hero/hero_04_portrait_medium_@2x_2k.jpg); }
              @include breakpoint (tablet) { background-image: url(../img/hero/hero_04_land_medium_@2x_2k.jpg); }
              @include breakpoint (laptop) { background-image: url(../img/hero/hero_04_land_large_@2x_3k.jpg); }
              @include breakpoint (desktop) { background-image: url(../img/hero/hero_04_land_xlarge_@2x_5k.jpg); }
            }
          }
        }
      }

    }
  }

  p {
    font-size: 2em;
    text-align: center;
  }
}


.slide-promo-fenplast {
  background-image: url(../img/promo/promo-fenplast-lemarchanddefenetres_small.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  h2 {
    color: transparent;
  }
  @include breakpoint (tablet) {
    background-image: url(../img/promo/promo-fenplast-lemarchanddefenetres.jpg);
  }
  @include breakpoint (laptop) {
    background-position: center center;
    background-size: contain;
    // box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
  }
}

.slide-promo-renovert {
  background-color: rgba(255,255,255,0.90);
  text-align: center;
  position: relative;

  @include breakpoint (laptop) {
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
  }

  .txt-wrapper {
    // width: 100%;
    // padding: 25px 0px 0;
    // outline: 1px solid red;
    position: absolute;
    padding: 0;
    width: 300px;
    height: 520px;
    margin-left: 50%; left: -150px;
    margin-top: 50%; top: -260px;

    @include breakpoint (laptop) {
      position: absolute;
      padding: 0;
      width: 600px;
      height: 446px;
      margin-left: 50%; left: -300px;
      margin-top: 50%; top: -223px;
    }
  }

  h2 {
    margin: 0;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 2em;

    span {
      display: block;
      font-size: 2.8em;
      line-height: 1em;
    }
  }

  .alt-txt {
    margin-top: 20px;
  }
}


.slide-promo-accordd {
  background-color: rgba(255,255,255,0.90);
  text-align: center;
  position: relative;

  @include breakpoint (laptop) {
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
  }

  .txt-wrapper {
    // outline: 1px solid red;
    // width: 100%;
    // padding: 25px 0px 0;
    position: absolute;
    padding: 0;
    width: 300px;
    height: 320px;
    margin-left: 50%; left: -150px;
    margin-top: 50%; top: -150px;

    @include breakpoint (laptop) {
      position: absolute;
      padding: 0;
      width: 600px;
      height: 330px;
      margin-left: 50%; left: -300px;
      margin-top: 50%; top: -165px;
    }
  }

  h2 {
    margin: 0;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 2em;

    @include breakpoint (laptop) {
      font-size: 3em;
    }

    span {
      display: block;
      font-size: 0.78em;
      line-height: 1em;
      font-weight: normal;

      @include breakpoint (laptop) {
        font-size: 0.78em;
      }
    }
  }

  img {
    width: 230px;
  }

  .alt-txt {
    margin-top: 20px;
  }
}


.m-home-first {
  background-color: white;

  h2 {
    font-size: 2em;

    a {
      // text-decoration: none;
    }

    &:hover {
      transform: scale(1.05);

      a {
        text-decoration: underline;
        color: $accentOrange;
      }
    }

  }

  .m-feature-container {
    padding: 25px;
    text-align: center;

    @include breakpoint (laptop) {
      padding: 50px;
      padding-top: 100px;
      padding: 100px 50px 25px;
    }

    h2 {
      margin-bottom: 0.6em;
    }

    p {
      text-align: center;
    }

    &.left {

      @include breakpoint (laptop) {
        transform: translateX(80px);
      }
    }

    &.right {

      @include breakpoint (laptop) {
        transform: translateX(-80px);
      }
    }

  }

  .m-icon {
    width: 225px;
    height: 225px;
    // background: $accentOrange;
    margin: 0 auto 15px;
    transition: transform 150ms ease;


    &.main {
      margin-top: 25px;
      transform: scale(1.5) translateY(-17px);

      @include breakpoint (laptop) {
        margin-top: 0px;
      }

      &:hover {
        // transform: scale(1.35) translateY(-15px);
      }
    }

    &.ico-install {
      background-image: url(../img/ico/ico-lemarchanddefenetres-installation.png);
      transform: scale(0.85) translateY(30px);
    }

    &.ico-satisfaction {
      background-image: url(../img/ico/ico-lemarchanddefenetres-satisfaction.png);
    }

    &.ico-key {
      background-image: url(../img/ico/ico-lemarchanddefenetres-clefenmain.png);
      transform: scale(0.80) translateY(15px);
    }

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.m-home-banner {
  background: $accentBlue;
  padding-left: 0;
  padding-right: 0;

  .col-12 {
    margin: 0;
    overflow: hidden;
  }

  .m-logo-banner {
    margin: 0;
    padding: 0;
    position: relative;
    width: 3500px;

    li {
      // outline: 1px solid white;
      display: inline;
      // float: left;
      margin: 0;
      padding: 0 20px;
      height: 50px;

      &.first {
        padding-left: 0;
        animation: bannermovemobile 20s linear alternate infinite;

        @include breakpoint (laptop) {
          // animation: none;
          animation: bannermovedesktop 60s linear alternate infinite;
        }
      }
    }


    img {
      opacity: 0.3;
    }
  }
}




@keyframes "bannermovemobile" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -1000px;
  }
}

@keyframes "bannermovedesktop" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -1000px;
  }
}




.m-home-second {

  .main-gallery {
    // background: #fff;
    // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    // border-top: solid 10px #7AA641;
  }

  .gallery-cell {
    width: 100%;
  }

  .testimonial {
    text-align: center;
    max-width: 850px;
    margin: 100px auto 130px auto;
    padding: 0 20px;
  }

  .testimonial-avatar {
    width: 100px;
    border-radius: 50%;
  }

  .testimonial-quote {
    display: block;
    font-size: 24px;
    font-weight: 300;
    padding: 10px 0;
  }

  .testimonial-author {
    display: block;
    font-weight: 800;
    // color: #7AA641;
    color: $accentOrange;
  }

  .flickity-page-dots {
    bottom: 25px;
  }

  .flickity-page-dots .dot:hover {
    background: $accentOrange;
    opacity: 0.5;
  }

  .flickity-page-dots .dot.is-selected {
    // background: #7AA641;
    background: $accentBlue;

    &:hover {
      background: $accentOrange;
      opacity: 1;
    }

  }

}

.m-home-third {
  background-color: white;

  h4 {
    text-align: center;
    margin-bottom: 0.2em;

    @include breakpoint (laptop) {
      margin-bottom: 1.2em;
    }
  }
}

.m-fb-page {
  margin: 0 auto 50px;

  @include breakpoint (laptop) {
    margin: 0 auto;
  }
}

.m-home-fourth {

  .m-info-wrapper {

    img {
      width: 100%;
      height: auto;
    }
  }

}


.m-slider-demo {
  // outline: 1px solid red;
  position: absolute;
  width: 300px;
  height: 300px;
  overflow: hidden;
  top: 50%; margin-top: -150px;
  left: 50%; margin-left: -150px;

  @include breakpoint (laptop) {
    width: 600px;
    margin-left: -300px;
    transform: scale(1.5) rotate(-25deg) translate(0px, 80px);
  }

  h1, h3 {
    text-align: center;
    margin: 0;

    @include breakpoint (laptop) {
      font-size: 4em;
    }
  }

}
