

.m-contact {
    padding: 150px 15px 50px;
}

.m-contact-img {
  img {
    width: 100%;
    height: auto;
  }
}

.m-contact-form {
  @include breakpoint (laptop) {
    padding-right: 25px;
  }
}

[class*='m-field'] {
  width: 100%;

  @include breakpoint (laptop) {
    // transform: translateX(-80px);
  }
}

.m-field-text {
  height: 250px;
}
