
.m-header {
  position: relative;
}

.m-langage {
  position: absolute;
  top: 84px; left: -3px;
  z-index: 15;
  line-height: 15px;

  @include breakpoint (laptop) {
    top: -11px; right: 0; left: inherit;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 1em;

    @include breakpoint (laptop) {
      font-size: 0.6em;
    }

    &:first-child {
      a {
        border-right: 1px solid $accentOrange;
      }
    }
  }

  a {
    padding: 0 5px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}

.m-fixed-phone {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  width: 100%;
  z-index: 10;
  padding: 0;

  @include breakpoint (laptop) {
    position: absolute;
    bottom: inherit; left: inherit; right: 0px; top: 6px;
    width: 250px;
    // outline: 1px solid green;
  }

  div:first-child {
    background-color: $accentOrange;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;

    @include breakpoint (laptop) {
      height: 40px;
      line-height: 40px;
      font-size: 1.4em;
      background-color: transparent;
      font-weight: bold;
      text-align: right;
    }

    a {
      color: #fff;
      text-decoration: none;

      .phone-number {
        text-decoration: underline;

        @include breakpoint (laptop) {
          text-decoration: none;
        }
      }

      @include breakpoint (laptop) {
        color: $accentOrange;
      }
    }
  }

  div:last-child {

    @include breakpoint (laptop) {
      color: $accentBlue;
      height: 15px;
      line-height: 15px;
      text-align: right;
      width: 100%;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 0.8em;
      // outline: 1px solid red;
    }

  }
}







.m-top-bar {
  margin: auto;
  padding: 15px 15px 12px;
  width: 100%;
  min-width: 320px;
  position: absolute;
  top: 0; left: 0; right: 0;
  z-index: 10;
  @include breakpoint (laptop) {
    background-color: transparentize(#fff, 0.1);
    position: fixed;
  }
}

.m-logo {
  float: right;
  width: 200px;

  @include breakpoint (laptop) {
    float: left;
    width: 200px;
  }

  img {
    width: 100%;
  }
}

.m-menu-toggle {
  float: left;
  padding: 15px;
  margin: -14px 0 0 -14px;
  color: $accentBlue;

  @include breakpoint (laptop) {
    display: none;
  }
}

.fa-times {
  color: $accentOrange;
}

.m-nav-primary {
  position: absolute;
  width: 200px;
  top: 61px; right: 0px;
  z-index: 20;

  &.is-opened {
    width: 100%;
    transition: width 300ms ease-out;
  }

  &.is-closed {
    width: 200px;
    transition: width 300ms ease-in;
  }

  @include breakpoint (laptop) {
    position: static;
    float: left;
    width: 70% !important;
    margin-top: 0;
  }

  ul {
    margin: 0;
  }

  li {
    float: left;
    height: 60px;
    margin: 0;
    width: 100%;
    background-color: $accentOrange;
    border-top: 1px solid transparentize(#fff,0.80);
    border-bottom: 1px solid darken($accentOrange,10%);

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    @include breakpoint (laptop) {
      float: left;
      width: auto;
      background-color: transparent;
      margin-left: 5px;
      margin-top: 31px;
      border: none;
      height: 40px;

      &:first-child {
        margin-left: 15px;
      }
    }
  }

  a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 100%;
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;

    @include breakpoint (laptop) {
      color: $accentBlue;
      padding: 0 15px;
      font-size: 0.8em;
      height: 40px;
      line-height: 40px;

      &:hover {
        color: $accentOrange;
      }
    }
  }
}

#js-nav-menu {
  display: none;

  @include breakpoint (laptop) {
    display: block;
  }
}
